#show-tag,#show-hobby{
	margin:20px;
	overflow: auto;
}
#show-tag span,#show-hobby span{
	float: left;
	margin: 20px;
	display: inline-block;
	height: 50px;
	min-width: 50px;
	background-color: green;
	color:white;
	cursor: pointer;
}
#show-tag span:hover{
	background-color: red;
}