*{
	margin: 0;
	padding: 0;
}
header,footer{
	height: 100px;
	line-height: 100px;
	background: green;
}
header ul{
	float: right;
}
header ul li{
	float: left;
	margin-right: 20px;
}
aside{
	float: right;
	width: 300px;
}
/*aside:after{
	content: "";
	display: block;
}*/
footer{
	text-align: center;
}
.main{
	overflow: auto;
}
div.main>div{
	float: left;
	width: 100%;
}
section{
	overflow: auto;
}